# Log files
*.log
*.aux
*.blg
*.bbl
*.toc
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.idx
*.ind
*.ilg
*.gz
*.xdv
*.glg
*.glo
*.ist
*.acn
*.acr
*.alg
*.gls
*.glsdefs
*.xdy
*.pyg
*.mw
*.upa
*.thm
*.tdo
*.gz(
*.bak
*.old
*.sav
*.tmp
*.~

# Editor specific files
*~
.#*
*.swp
.DS_Store
.vscode/

# Build directories
_build/
build/
main.pdf
NotebookLM_y_la_Clase_Metodológica__IA_y_Estructura_Cubana_para.m4a
Control_de_Velocidad__Motores_DC.mp4
Resolucion_47_2022.pdf
